@import "tailwindcss";

@theme {
  --color-primary-50: #E7FBFE;
  --color-primary-100: #BBF3FB;
  --color-primary-200: #90EBF9;
  --color-primary-300: #64E3F7;
  --color-primary-400: #38DBF5;
  --color-primary-500: #0DD4F2;
  --color-primary-600: #0AAEC7;
  --color-primary-700: #088395;
  --color-primary-800: #06616F;
  --color-primary-900: #043B44;
  --color-primary-950: #011518;
}