@import "tailwindcss";

@theme {
  --color-primary-50: #F8FAFC;
  --color-primary-100: #F1F5F9;
  --color-primary-200: #E2E8F0;
  --color-primary-300: #CBD5E1;
  --color-primary-400: #94A3B8;
  --color-primary-500: #64748B;
  --color-primary-600: #475569;
  --color-primary-700: #334155;
  --color-primary-800: #1E293B;
  --color-primary-900: #0F172A;
  --color-primary-950: #020617;

  --animate-blob: blob 7s infinite;
  --animate-animation-delay-2000: animation-delay-2000 7s infinite;
  --animate-animation-delay-4000: animation-delay-4000 7s infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes animation-delay-2000 {

  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

@keyframes animation-delay-4000 {

  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}